<link rel="stylesheet" type="text/css" href="app/error/error.css">

<div class="error">
  <img src="../assets/images/oops.png" id="oops">
  <div id="error1">
    <p>¡Lo sentimos esta seccion esta en contruccion actualmente!</p>
  </div>
</div>