.error {
    width: 800px;
    height: 300px;
    padding: 50px;
    background-color: rgba(192, 192, 192, 0.35);
    float: left;
    margin-left: calc(50% - 400px);
    margin-top: calc(50% - 500px);
    position: relative;
    border:2px solid black;
    border-radius: 5%;
}
#oops{
  display: inline-block;
}
#error1 {
  display: inline-block;
  height: 100px;
  position: absolute;
  top: 110px;
  left: 345px;
}
p{
  font-size: 30px;
  color: white;
  font-family: cominc san;
}