.divcontainerdate{
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/background.jpg');
}
.addDate {
    width: 40%;
    height: 100vh;
    margin-left: 5%;
    position: relative;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.78);
    display: inline-block;
}
.addDate3{
    width: 40%;
    height: 100vh;
    margin-left: 50%;
    position: absolute;
    padding: 50px;
    right: 5%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.78);
    display: inline-block;
}
#text1{
  color: white;
  font-size: 25px;
  font-family: cominc san;
  text-align: center;
  margin-top: 80px;
}
#text2{
  color: black;
  font-size: 20px;
  font-family: cominc san;
  text-align: center;
}
#text3{
  color: white;
  font-size: 20px;
  font-family: cominc san;
  text-align: center;
}
.ink{
  width:90%;
  margin-left: 5%;
  height: 90px;
  background-color: black;
  border-radius: 5px;
}
.minidiv{
  width: 100%;
  height: 200px;
  position: relative;
}
.minidivleft {
    width: 45%;
    height: 200px;
    position: absolute;
    left: 0px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid blue;
}
.minidivright {
    width: 45%;
    height: 200px;
    position: absolute;
    right: 0px;
    background-color: #0E0E0E;
    border: 2px solid silver;
    border-radius: 10px;
}
ul{
  list-style-type:none
}
.ink ul li{
  color: white;
}
.form-control {
    display: block;
    width: 90%;
    margin-left: 11px;
    height: 34px;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 15px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.addDate2{
  width: 65%;
  height: 50px;
  background-color: gray;
  margin-top: 25px;
  border-radius: 10px;
  border:2px solid black;
  margin-left: 80px;
}
input[type="file"] {
    display: block;
    margin-top: 11px;
    margin-left: 11px;
    color: black;
}
#datein{
  margin-top: 10px;
  margin-left: 145px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 194px;
    margin-top: 20px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}
.boxesDate{
  width: 100%;
  height: 115px;
  background-color: rgba(192, 192, 192,0.62);
  border-radius: 10px;
  border: 2px solid black;
  position:relative;
}
#photo{
  width: 20%;
  height: 90%;
  border-radius: 10px;
  border: 2px solid silver;
      margin-left: 5px;
    margin-top: 5px;
}
hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #D8D3D3;
    margin-top: -75px;
    width: 77%;
    margin-left: 97px;
}
.texto{
  position: absolute;
  top: 3px;
  width: 77%;
  margin-left: 97px;
  height: 30px;
}
.texto1{
  position: absolute;
  bottom: 25px;
  width: 77%;
  margin-left: 97px;
  height: 40px;
}
#texto2{
    width: 94%;
    margin-left: 10px;
}