<link rel="stylesheet" type="text/css" href="app/userProfile/user_profile.css">

<div class="divcontainerdate">
  <div class="addDate">
    <p id="text1">Agrega una nueva cita</p>
    <div class="minidiv">
      <div class="minidivleft">
        <p id="text2">Selecciona al<br>tatuador de tu preferencia</p>
        <div class="ink">
            <ul>
              <li ng-repeat="tattooist in profile.tattooists">Tatuador {{tattooist.index}}<input type="checkbox"></li>
            </ul>
        </div> 
      </div>
      <div class="minidivright">
        <p id="text3">Descripcion</p>
        <input type="text" class="form-control" placeholder="zona de cuerpo" aria-describedby="sizing-addon3" ng-model="profile.bodyPart">
        <input type="text" class="form-control" placeholder="B&W o color" aria-describedby="sizing-addon3" ng-model="profile.color">
        <input type="text" class="form-control" placeholder="genero, estilo o figura" aria-describedby="sizing-addon3" ng-model="genre">
        <input type="text" class="form-control" placeholder="alergias a tintas" aria-describedby="sizing-addon3" ng-model="profile.alergies">
      </div>
    </div> 
    <div class="addDate2">
      <input id="input-1" type="file" class="file">
    </div>
    <input type="date" id="datein" ng-model="appointment.date"><br>
    <button type="button" class="btn btn-info" ng-click="profile.createAppointment()">Crear</button>
  </div>
  <div class="addDate3" ng-repeat="appointment in appointments">
    <div class="boxesDate">
      <div id="photo">
        
      </div>
      <div class="texto">
        <p>{{appointment.client.name}} {{appointment.client.last_name}}</p>
      </div>
      <hr>
      <div class="texto1">
        <div class="row">
          <div class="col-xs-6">
            <p>{{appointment.tattooist.name}}</p>
          </div>
          <div col-xs-6>
            <p>{{appointment.date}}</p>
          </div>
        </div>
        <div class="row" id="texto2">
          <p>{{appoinment.descripcion}}</p>
        </div>
      </div>
    </div>
  </div> 
</div>