<div class="login">
  <form>
    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" id="input1">
    <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1" id="input2">
    <button type="button" class="btn btn-primary" id="buttom1" ng-click=''>Iniciar sesion</button>
    <div>
      <input type="checkbox"> Recordar mis datos
      <a href="#">¿Olvidaste tu constraseña?</p>
    </div>
  </form>
</div>