<div class="header">
  <div class="leftSide">
    <p id="aux">ACADEMIA HACK INK</p>
    <p>Casa <span>de los mas famosos</span> Tatuadores de CCS</p>
  </div>
  <div class="rightSide">
    <div class="row">
      <div class="col-xs-offset-6 col-xs-2">
        <a href="#">Artist</a>
      </div>
      <div class="col-xs-2">
        <a href="#">FQA</a>
      </div>
      <div class="col-xs-2">
        <a href="#" ng-click="main.wantToShowLogIn()">Login in</a>
        <div class="login" ng-show="main.showLogIn()">
          <form>
            <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" id="input1" ng-model="main.user.email">
            <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1" id="input2" ng-model="main.user.password">
            <button type="button" class="btn btn-primary" id="buttom1" ng-click='main.logIn()'>Iniciar sesion</button>
            <div>
              <input type="checkbox"> Recordar mis datos
              <a href="#">¿Olvidaste tu constraseña?</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="back">
  <a href="#"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a>
</div>
<div class="divcontainer1">
  <div id="box4">
    <div class="row well">
      <p id="textaux001">Tu mejor opcion para realizarte <br> tus tatuajes de forma rapida, segura y comoda</p>
    </div>
    <div class="row well">
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
      </div>
      <div class="col-xs-11">
        <p id="textaux01">  Elige al tatuador de tu preferencia</p>
      </div>
    </div>
    <div class="row well">
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </div>
      <div class="col-xs-11">
         <p id="textaux01">Solicita una cita online en la fecha</p>
      </div>
    </div>
    <div class="row well">
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
      </div>
      <div class="col-xs-11">
        <p id="textaux01">  Espera la respuesta del tatuador</p>
      </div>
    </div>
    <div class="row well">
      <div class="col-xs-1">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </div>
      <div class="col-xs-11">
        <p id="textaux01">  Asiste a la cita y tatuate!</p>
      </div>
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="arrow1"></span>
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="arrow2"></span>
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true" id="arrow3"></span>
    </div>
  </div>
  <div id="box5">
    <div class="row well">
      <div class="textregister">
        <p>Registrate<br> <span>Es gratis y podras hacerlo en cualquier momento</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <form>
          <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" id="usernameInput" ng-model="main.user.name">
        </form>
      </div>
      <div class="col-xs-6">
        <form>
           <input type="text" class="form-control" placeholder="last name" aria-describedby="basic-addon1" id="lastNameInput" ng-model="main.user.last_name">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form>
          <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" id="emailInput" ng-model="main.user.email">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form>
          <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon" id="passwordInput" ng-model="main.user.password">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">    
          <input type="date" id="birthdateInput" ng-model="main.user.birthdate">
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary" ng-click="main.register()">Registrate</button>
      </div>
    </div>
  </div>
</div>

<div id="hr">
</div>
<div class="divcontainer2">

<div class="divcontainer2">
  <h1>THE SHOP</h1>
  <div class="text1">
    <p>Horario de trabajo 11 a 7 PM</p>
    <p>Abierta los 7 dias de la semana</p> 
  </div>
  <div class="text2">
    <p>Academia hack ink es un local de tatuaje, fundada por Abraham y Daniel (mentores de la academia)<br> Contamos con los mejores hacker/tatuadores de toda Caracas<br> (Ojo: los tatuadores solo saben programar y no tatuan realmente)</p>
    <a href="#">Leer mas <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
  </div>
</div>

<div id="hr">
</div>

<div class="divcontainer3">
<div id="box1">
  
</div>
<div id="box2">
  
</div>
  <div id="box3">
    <img src="../assets/images/img1.jpeg" id="img1">
    <img src="../assets/images/img2.jpeg" id="img2">
    <img src="../assets/images/img3.jpg" id="img3">
    <img src="../assets/images/img4.jpg" id="img4">
    <img src="../assets/images/img5.jpg" id="img5">
    <img src="../assets/images/img6.jpg" id="img6">
    <img src="../assets/images/img7.jpg" id="img7">
    <img src="../assets/images/img8.jpg" id="img8">
    <img src="../assets/images/img9.jpg" id="img9">
    <img src="../assets/images/img10.jpg" id="img10">
    <button id="auxb2" type="button" class="btn btn-primary">Follow on instragram</button>
    <button id="auxb1" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Load more...</button>
  </div>  
</div>

<div id="hr">
</div>

<div class="divcontainer4">
  <div id="circle">
    <div class="triangulo_sup">
      <img src="../assets/images/logo.png" id="img11">
    </div>
  </div>
</div>
