<div class="register">
  <form>
    <p>¿Eres nuevo en HackTatoo?<span><button type="button" class="btn btn-primary">Registrate</button></span></p>
  </form>
  <hr>
  <form>
    <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" id="usernameInput">
    <input type="text" class="form-control" placeholder="last name" aria-describedby="basic-addon1" id="usernameInput">
    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" id="emailInput">
    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon" id="passwordInput">
    <input type="text" class="form-control" placeholder="Birth date" aria-describedby="basic-addon1" id="birthDaytInput">
  </form>
</div>