/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html{	
	height: 100%;
}
body{
	min-height: 100%;
}
body {
  background-image: url('../assets/images/graniteBg.png');
}

/*home*/
/*---------------------------------------------*/
#home {
	height: 100%;
}
.header {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid gray;
  box-shadow: -2px 1px 3px rgba(136, 136, 136, 0.53);
  position: relative;
}
.leftSide{
  width: 50%;
  display: inline-block;
  margin-top: 30px;
  margin:0px;
}
.leftSide p {
  font-size: 30px;
  color: #FFF;
  font-family: times new roman;
  text-align: center;
  margin-left: 14px;
  margin-bottom: 0px;
  margin-top: 8px;
}
.leftSide p span{
  font-size: 20px;
}
.rightSide{
  width: 50%;
  float: right;
  margin-top: 0px;
} 
#aux{
  font-size: 50px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}
#indicatornavh {
  width: 100%;
  height: 5px;
  background-color: blue;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -5px;
}
button.navheader1:hover {
	#indicatornavh {
	  bottom: 0px;
	  transition: 0.5s;
	}
	.navheader1 p {
		color: blue;
	}
}
button.navheader2:hover {
	#indicatornavh {
	  bottom: 0px;
	  transition: 0.5s;
	}
}
.btn-default:hover {
  color: #333;
  background-color: rgba(245, 241, 241, 0.03);
  border-color: #adadad;
  border-radius: 0%;
}
.divcontainer1 {
    height: 600px;
    width: 100%;
    background-position: 0px -137px;
    background-image: url("../assets/images/miami-ink-crew-tattoo.jpg");
    position: relative;
    background-size: 100%;
}
.divcontainer2{
  width: 100%;
  height: 400px;
}
.divcontainer3{
  width: 100%;
  height: 800px;
  position: relative;
}
.divcontainer4{
  width: 100%;
  height: 300px;
  position: relative;
}
#box1{
  width: 10%;
  height:800px; 
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: black;
}
#box2{
  width: 10%;
  height: 800px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: black;
}
#box3{
  width: 80%;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 10%;
  bottom: 0px;
}
#box4{
  width: 50%;
  height: 600px;
  position: absolute;
  left: 0px;
  padding: 60px;
}
#box5{
  width: 50%;
  height: 600px;
  position: absolute;
  right: 0px;
  padding: 145px;
}
.login {
    width: 300px;
    height: 120px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.31);
    display: inline;
    position: absolute;
    right: 200px;
    top: 130px;
    border-radius: 5%;
    z-index: 1;
}
.login #input1{
  width: 90%;
  position: absolute;
  top: 10px;
  left: 15px;
}
.login #input2{
  width: 50%;
  position: absolute;
  top: 55px;
  left: 15px;
}
.login #buttom1 {
  position: absolute;
  top: 57px;
  right: 19px;
}
.login div {
  position: absolute;
  bottom: -4px;
  left: 15px;
  font-size: 12px;
}
.register {
  width: 300px;
  height: 250px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.31);
  display: inline;
  position: absolute;
  top: 260px;
  right: 200px;
  border-radius: 5%;
}
.register p {
    font-size: 16px;
    margin-top: 8px;
}
hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #D8D3D3;
  margin-top: -6px;
}
.register span {
	color: gray;
}
.register #input3 {
  width: 95%;
  position: absolute;
  top: 50px;
  left: 8px;
}
.register #input4 {
  width: 95%;
  position: absolute;
  top: 90px;
  left: 8px;
}
.register #input5 {
  width: 95%;
  position: absolute;
  top: 130px;
  left: 8px;
}
.register #input6 {
  width: 95%;
  height: 68px;
  position: absolute;
  bottom: 10px;
  left: 8px;
}
#img2{
  margin-left: 65px;
}
#hr{
  width: 100%;
  height: 10px;
  background-color: white;
}
#regis{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(29, 24, 24, 0.75);
  border: 3px solid #18264E;
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
}
.divcontainer2 h1{
  color: white;
  font-family: times new roman;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}
.text1{
  color: gray;
  font-size: 30px;
  font-family: times new roman;
  text-align: center;
}
.text2{
  color:white;
  font-size: 20px;
  font-family: times new roman;
  text-align: center;
}
.text2 a{
  color: #EDF0F3;
  text-decoration: none;
  margin-top: 15px;
}
.text2 a .glyphicon {
  position: relative;
  top: 4px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.text2 a:hover{
  color: red;
}
.divcontainer3 img{
  width: 150px;
  height: 250px;
}
#img1{
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid white; 
  width: 250px;
  height: 300px;
}
#img2{
  position: absolute;
  top: 300px;
  left: -65px;
  border: 1px solid white;
  width: 250px;
  height: 200px;
}
#img3{
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 1px solid white;
  width: 250px;
  height: 300px;
}
#img4{
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid white;
  width: 250px;
  height: 300px;
}
#img5{
  position: absolute;
  top: 300px;
  right: 0px;
  border: 1px solid white;
  width: 250px;
  height: 200px;
}
#img6{
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 1px solid white;
  width: 250px;
  height: 300px;
}
#img7{
  position: absolute;
  top: 0px;
  left: 250px;
  border: 1px solid white;
  width: 291px;
  height: 300px;
}
#img8{
  position: absolute;
  top: 0px;
  right: 250px;
  border: 1px solid white;
  width: 291px;
  height: 300px;
}
#img9{
  position: absolute;
  bottom: 0px;
  right: 250px;
  border: 1px solid white;
  width: 291px;
  height: 300px;
}
#img10{
  position: absolute;
  bottom: 0px;
  left: 250px;
  border: 1px solid white;
  width: 291px;
  height: 300px;
}
#img11 {
  position: absolute;
  top: -2%;
  left: 33%;
}
#auxb2 {
  position: absolute;
  top: 49%;
  left: 56%;
  z-index: 2;
}
#auxb1 {
  position: absolute;
  top: 50%;
  left: 32%;
  background-color: #000;
  z-index: 2;
}
#circle{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: black;
  margin-left: 42%;
  margin-top: 8%; 
}
.triangulo_sup {
  width: 0px;
  height: 0px;
  border-left: 106px solid transparent;
  border-right: 109px solid transparent;
  border-bottom: 168px solid rgba(206, 227, 13, 0.54);
}
.col-xs-2 {
  width: 16.667%;
  margin-top: 9%;
  font-size: 20px;
  font-family: times new roman;
}
.col-xs-2 a{
  color: white;
}
.back{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  z-index: 2;
}
.back span{
  color: black;
  font-size: 25px;
}
.well {
  height: 70px;
  padding: 0px;
  margin-bottom: 35px;
  background-color: rgba(24, 45, 105, 0.82);
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}
#box5 .well{
  height: 70px;
  padding: 0px;
  margin-bottom: 35px;
  background-color: black;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}
#textaux01{
  color: #FFF;
  font-size: 18px;
  font-family: cominc san;
  text-align: center;
  margin-top: 22px;
}
#textaux001 {
    color: #FFF;
    font-size: 22px;
    font-family: cominc san;
    text-align: center;
    margin-top: 2px;
}
#box4 .glyphicon {
  position: relative;
  top: 22px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: white;
  font-size: 25px;
}
.textregister{
  color: white;
  font-family: cominc san;
  font-size: 25px;
  text-align: center;
}
.textregister p{
  margin-bottom: 0px;
}
.textregister span{
  font-size: 15px;
}
#box5 .row {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 25px;
  width: 400px;
}
#arrow1 {
  float: left;
  margin-top: -315px;
  margin-left: 290px;
}
#arrow2 {
  float: left;
  margin-left: 290px;
  margin-top: -215px;
}
#arrow3 {
  float: left;
  margin-left: 290px;
  margin-top: -110px;
}
/*---------------------------------------------*/
/*home*/
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
