#date {
	height: 100px;
	width: 100%;
	color: white;
}
#date-template {

}
#date-template-user-identification {

}
#date-template-user-identification-image {
	height: 100px;
	width: 100px;
}
#date-template-user-identification-image-img {
	height: 100%;
	width: 100%;
}
#date-template-user-identification-name {
	
}