<link rel="stylesheet" type="text/css" href="app/home/home.css">

<button ng-click="home.listAppointment()">list Dates</button>

<div id="date" ng-repeat="date in home.appointments">
	<div class="container" id="date-template">
		<div class="row" id="date-template-user-identification">
			<div class="col-xs-6" id="date-template-user-identification-image">
				<a id="date-template-user-identification-image-link" ng-href="{{date['resource']}}">
					<img id="date-template-user-identification-image-img" ng-src="{{date['resource']}}">
				</a>
			</div>
			<div class="col-xs-6" id="date-template-user-identification-name">
				{{date.name}}
				<hr>

			</div>
		</div>
	</div>
</div>
<div ng-app="main" ng-controller="DemoCtrl" >
  <daypilot-calendar id="day" daypilot-config="dayConfig" daypilot-events="events" ></daypilot-calendar>
  <daypilot-calendar id="week" daypilot-config="weekConfig" daypilot-events="events" ></daypilot-calendar>
</div>
